
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

<style>
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
</style>

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


@font-face {
	font-family: 'Chaplin';
	src: 
    url('Chaplin-Medium.otf') format(OpenType);
}


:root {
    font-size: 120%;
}

html{
    background-color: rgb(231, 230, 225);
    height:100%;
}


body {
/* body font size */
    p {
        font-family: "Newsreader", serif;
        color: rgb(30, 29, 29);
        font-size: 1.1rem;
        
    }
/* font size of subheads and pull quote */
    hgroup, blockquote {
         p, time {
            font-size: 1rem;
         }    
    }
}

*:not(:first-child) { 
    margin-block-start: 1.2em; 
}


/* left and right scroll ref: https://codepen.io/altafhpatel/pen/JELMgx*/
/* header bar */
/* blocker: responseright has a padding on top- fixed */

header {
    padding: 2rem; 
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    height:20%;
    background-color: rgba(231, 230, 225, 0.754);
   /*bg blur  */
    backdrop-filter: blur(3px);
   /* make it the foreground */
    z-index: 10;
}

/* how do i make both column scroll on its own and be visible? */



#italicleft, #responseright {
    padding: 2rem; 
    position: absolute;
    bottom: 0;
    overflow-y: scroll;
    z-index: 5;
    top: 20%;  
}

#italicleft {
    left: 0;
    width: 60%;
}

#responseright {
    margin-block-start: 0em; 
    right: 0;
    width: 40%;
    /* color: grey; */
}


/* heading styles */
/* for all main content */

.headings{
    font-family: "Dosis", sans-serif;
}


/* heading style, quote, footnote--> font family*/
hgroup, blockquote, aside {
    p, time {
        font-family: "Dosis", sans-serif;
    }    
}



h1 {
    font-size: 2.5rem;
    line-height: 2rem;
}

h2 {
    font-size: 2.2rem;
}


h3 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

h4, nav {font-size: 1.2rem;}


/* quote */
/* how to make a hanging list? */

blockquote {
       #quote
       {font-style: italic;}
       padding-left: 20%;
    }    

/* footnotes */
aside p{
    font-size: 0.8rem;
    padding-left: 20%;
    color: rgb(0, 38, 163);
  
}

sup {
    vertical-align: super; /* Elevates the text above the baseline */
    font-size: smaller;
    color: rgb(0, 38, 163);
}

/* all body */
p {
    font-size: 1rem;
    line-height: 1.7rem;
}


/* nav jump links */
/* nav {
    text-transform: uppercase;
} */

/* links */
a {
    text-decoration: underline dotted;
    color: rgb(0, 38, 163);
}


/* special styples */
#rotation span{
    transform: rotate(20deg);
    display: inline-block;
}

.makeitalic {
    font-style: italic;
}


/* this line not working */


.makeslanted p{ 
    transform: skew(-4deg);
    display: inline-block;
}

.makeiranic {
    transform: skew(4deg);
}
    
/*  reflection */

.reflection p{
    font-family: 'Chaplin', serif;
    font-size: 90%;
}


footer {
    font-style: italic;
    color: rgb(148, 148, 148);
}

