
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');


@font-face {
	font-family: 'Chaplin';
	src: 
    url('Chaplin-Regular.otf') format(OpenType);
}


:root {
    font-size: 130%;
}

html{
    background-color: rgb(250, 249, 247);
    scroll-behavior: smooth;
    
}


body {

/* body font size */
    p {       
        font-family:"Rosarivo", serif;
        /* color: rgb(30, 29, 29); */
        line-height: 2em;     
         text-wrap: pretty;
    }
/* font size of subheads and pull quote */
    hgroup, blockquote {
         p, time {
            font-size: 1rem;

            /* gg search for making the rag look good: https://www.google.com/search?q=how+to+get+rid+of+widow+words+in+css&rlz=1C5CHFA_enUS1176US1176&oq=how+to+get+rid+of+widow+words+in+css&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigATIHCAQQIRigAdIBCTEwODkyajBqNKgCA7ACAfEFA0lxLON8L47xBQNJcSzjfC-O&sourceid=chrome&ie=UTF-8 */
            text-wrap: pretty;
            
         }    
    }

    margin-block-end: 5rem;
}


/* typefaces */

/* for article */
.headings{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;

}


/* heading style, quote, footnote--> font family*/
hgroup, blockquote, aside {
    p, time {
        font-family: "Dosis", sans-serif;
    }    
}

/* space between block elements */
/* *:not(:first-child) { 
    margin-block-start: 2rem; 
} */


/* nav bar */
header {
    position: sticky;
    inset-block-start: 0rem;
    background-color:  rgba(236, 236, 236, 0.69);
        /*bg blur  */
    backdrop-filter: blur(6px);
        /* make it the foreground ref:
        https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
    z-index: 10;
    

    hgroup{
        max-width: 1600px;
        margin-inline: auto;
        padding-block: 0.8rem; 
        padding-inline: 5rem;
        
    }
   
}



main {
    max-width: 1600px;
    margin-inline: auto;
    padding-block-start: 2rem;
  
}


#navbar {  
    color: rgb(0, 0, 0);
    display: flex; 
    justify-content: space-between;
}




/* spacing */

#maincontainer {
    padding-inline: 5rem;
    max-inline-size: 83ch;

/* spacing between sections. heading and content */
        section:not(:first-child) {
        padding-block-start: 5rem;
        }

/* space between article and response */
        article:not(:first-child){
        margin-block-start: 7rem;
        }

        footer {
            margin-block-start: 2.5rem;
            text-align: left;
        }    
/* spacing between ps */
        section p:not(:first-child){
            margin-block-start: 3rem;             
        }
/* spacing between h1 and author */
        #italicleft, #responseright {
            .authornametime{
                padding-block-start: 0.8rem;          
            } 
        }

        #italicleft {           
            hgroup{

/* spacing between within the box*/                
            .authorinfo{

                margin-block-start: 1.6rem;
                padding-block-start: 1rem;

                   p {
                    margin-block-start: 0.3rem;
                   }
                }

            .moreauthorlinks{
                padding-block-start: 1rem;
                }
            
         }

            blockquote{
            
                #quote {
                    margin-block-start: 1.5rem;
                }

                #quoteauthor {
                    margin-block-start: 0.75rem;
                }

                margin-block: 2.5rem;
                padding-inline-start: 20%;
    
            }



        #related{

            p{
             margin-block-start: 0rem;
            }
            }
        }


/* spacing between article and response*/
        #responseright {
             margin-block-start: 8rem; 
        }

}



/* sidebar */
/* todo: add a box around? */

.sidebar {
/* positoin research :https://developer.mozilla.org/en-US/docs/Web/CSS/position */
    position: sticky;
    top: 5rem;
    line-height: 2rem;
    float: right;
    padding-inline: 5rem;
    color:rgb(255, 255, 255);

/* align-items reference https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container */

/* display:grid; https://developer.mozilla.org/en-US/docs/Web/CSS/display */
    /* display: flex; 
    align-items: right;
    justify-content: right; */

    section {

        background-color: rgba(236, 236, 236, 0.69);;
        padding-inline: 1.5rem;
        padding-block: 1.3rem;
        border-radius: 0.4rem;

        summary {
                border-bottom: dotted;
                border-color: black;
                font-weight:700;
                padding-block-end: 0.5rem;
                margin-block-end: 1.5rem;
            }
            p {
                text-indent: 1rem;
            }

            p:first-child {
                padding-block-start:2rem;
                }

        details:first-child {
            margin-block-end: 2rem;
        }
       
    }

    
}




/* main content */

#italicleft {
    .authornametime {
        text-transform: uppercase;
        p {
             font-family: "Dosis", sans-serif;
        }
       
        font-size: 0.8rem;
        color: rgb(99, 99, 99);
    }
}

#responseright {
   background-color:rgb(228, 249, 228);
   padding-inline: 8%;
   padding-block: 10%;
   color: black;
   border-radius: 0.4rem;

   section p{
        font-family: 'Chaplin';
        font-size-adjust: 90%;
    }

    .authornametime {
        text-transform: uppercase;
        p {
             font-family: "Dosis", sans-serif;
        }
       
        font-size: 0.8rem;
        margin-left: 0;
    }

    #chaplin {
        font-family: "Dosis", sans-serif;
        font-size: 0.8em;
        margin-block-start: 2rem;
    }

}



/* main title */
h1, nav, #tni {
    font-size: 1rem;
    line-height: 1.5rem;
}


/* article/response title */
h2 {
    font-size: 2.8rem;
    font-weight: 600;
}

/* section title */
h3 {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    padding-block: 0.8ex;
    border-bottom: dotted;
    border-color: black;
}

/* pullquote title */
h4 {font-size: 1.2rem;}





/* about author section
 */
.authorinfo {
  
    
    line-height: 1.5rem;
    font-family: "Dosis", sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-inline: 1.5rem;
    padding-block: 1.8rem;
    border-radius: 0.4rem;

 

    #moreauthorhead {
        margin-left: 0rem;
        border-bottom: dotted;
        border-color: black;
        text-transform: uppercase;  
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight:700;
        padding-block-end: 0.5rem;
    }

    .authorcontent{
        font-size: 0.8rem;
        line-height: 1.4rem;
        padding-block-start: 0.45rem;
        }

    .moreauthorlinks{
        padding-block-start: 1.5rem;
    }

    }


#related {
    font-size: 0.8rem;
    line-height: 1.5rem;
    
    section {
        padding-block-start: 1rem;
        border-block-start: solid;
        border-width: 0.05rem;
        border-block-start-color: rgb(148, 148, 148);
    }
    p {
       
        font-family: "Dosis", sans-serif;
        color:rgb(148, 148, 148);
    }
    
}

#related:hover {
    transform: skew(2deg);
}

/* quote */
/* how to make a hanging list? */

blockquote {

    color: rgb(99, 34, 34);  
    #quote
       {font-style: italic; 
        font-size: 1rem;    
    }  
}  



/* footnotes */

aside p{
    padding-block-start: 0.5rem;
    padding-inline-start: 0;
    font-size: 0.8rem;
    padding-inline-end: 30%;
    color: rgb(0, 51, 220);
}

sup {
    vertical-align: super; /* Elevates the text above the baseline */
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 51, 220);
    font-family: "Newsreader", serif;
    display: inline;
	margin-block-start: 0rem;
    padding-inline: 0.6ex;
    padding-block: 0.2ex;
    border-radius: 0.4rem;
}



/* special font styples */
.makebold {
    font-weight: bold;
}

.makehighlight {
    background-color:rgb(228, 249, 228);
    padding-block: 0.3rem;
}


.makehighlight-response {
    background-color:rgb(213, 234, 213);
    color: black;
    padding-block: 0.6rem;
}


#starter {
    font-size:2em;
    line-height: 1.5em;
    display: block;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-inline: 2ex;
    padding-block: 1ex;
    border-radius: 0.4rem;
    
}

.glyphs {
    font-size:0.8em;
    display: inline;
    color: rgb(0, 0, 0);
    background-color: rgb(224, 224, 224);
    padding-inline: 1ex;
    padding-block: 0.8ex;
    border-radius: 0.4rem;
    margin-inline-end: 0.2ex;
}


#rotation span{
    transform: rotate(20deg);
    display: inline-block;
}


.makeitalic {
    font-style: italic;
}

.makeunderline {
    text-decoration: underline;
}



#slanted p{ 
    transform: skew(4deg);
    display: inline-block;
}

#slanted p:hover{ 
    transform: skew(-4deg);
    display: inline-block;
}



.makeiranic {
    transform: skew(-4deg);
}

.makeblackletter {  
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
}

#trio {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}   


.smalltype{
    font-family: "Dosis", sans-serif;
    font-size: 0.8em;
}



footer {

    font-style: italic;
    color: rgb(148, 148, 148);
}

/* underline cta */
a {
    font-family: "Dosis", sans-serif;
    text-size-adjust: 115%;
    text-decoration: underline dotted;
    text-decoration-color:rgb(0, 51, 220);
    color:  rgb(0, 51, 220);
    /* padding-block: 0.3ex;
    padding-inline: 0.4ex;  
    background-color: rgb(255, 208, 0);  */
}


a:hover {
    font-style: italic;
    color: rgb(0, 51, 220);
    text-decoration-color:rgb(0, 51, 220);
    background-color: transparent;
    
}

/* main ctas */
a:not(.underlinecta)  {
    font-style: italic;
    display: inline;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 51, 220);
	margin-block-start: 0rem;
    font-size: 1em;
    padding-inline: 1ex;
    padding-block: 0.3ex;
    border-radius: 0.2rem;
    font-style: normal;
}

a:not(.underlinecta):hover {
    color: rgb(255, 255, 255);
    font-style: Italic;
    background-color: rgb(0, 0, 0);
    text-decoration-color:rgb(255, 255, 255);
}


.italicta {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

.italicta:hover {
    color: dimgrey;
    background-color: transparent;
    text-decoration: none;
    font-style: normal;
}
